@charset "UTF-8";
/* ****************************************************************** 

	--style.css--

	1. Style setting
		1-1. FontColor styles
		1-2. Headline styles

	2. Layout setting
		2-1. Base styles
		2-2. Header styles
		2-3. Navi styles
		2-4. Main styles
		2-5. Side styles
		2-6. Footer styles

****************************************************************** */

/*==================================================================
	1. Style setting
===================================================================*/

/* ------------------------------------------------------------------
	1-1. FontColor styles
-------------------------------------------------------------------*/
html { color:#333; }
a:link, a:visited { color:#333; text-decoration:none; }
a:hover, a:active {	color:#333; text-decoration:underline; }
html { background-color:#FFF; }
body { background-color:#FFF;}


/* ------------------------------------------------------------------
	1-2. Headline styles
-------------------------------------------------------------------*/
.headline1 {
	background:url(../img/icon/icon_line.png) repeat-x 0 100%;
	border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-o-border-radius:4px 4px 0 0;
	behavior: url(/PIE.htc);
	position:relative;
	z-index:10;
	color:#666;
	font-size:16px;
	font-weight:bold;
	line-height:1.5;
	margin-bottom:20px;
	padding:6px 14px 8px;
	text-transform:uppercase;
}
.headline1 img {
	margin-right:10px;
	vertical-align:middle;
}
.headline2 {
	background:#6d6d6d;
	border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-o-border-radius:4px 4px 0 0;
	behavior: url(/PIE.htc);
	position:relative;
	z-index:10;
	color:#fff;
	font-size:16px;
	padding:10px 14px;
	text-transform:uppercase;
}



/*==================================================================
	2. Layout setting
===================================================================*/

/* ------------------------------------------------------------------
	2-1. Base styles
-------------------------------------------------------------------*/
body {
	background:url(../img/common/blank.gif) repeat-x fixed 0 0!important;
}
html {
	background:#fff url(../img/common/bg_cont.jpg) repeat 0 0;
}
#contents {
	clear:both;
}
#contentsArea {
	background:url(../img/common/bg_cont.jpg) repeat 0 0;
	margin:0 auto;
	padding:120px 0 160px;
	width:1100px;
}


/* ------------------------------------------------------------------
	2-2. Header styles
-------------------------------------------------------------------*/
#header {
	background:url(../img/common/bg_transparent.png) repeat 0 0;
	position:fixed;
	left:0;
	top:0;
	z-index:9999;
	width:100%;
}
#header #headerInner {
	padding:18px 20px 16px;
}
#logo {
	float:left;
	width:auto;
}
.hNav {
	float:right;
	padding-top:15px;
	width:auto;
}
.hNav li {
	display:inline;
	margin-left:20px;
}
.language {
	text-align:center;
}
.language {
	text-align:center;
}
.language li {
	display:inline;
	margin:0 10px;
}

/* ------------------------------------------------------------------
	2-3. Navi styles
-------------------------------------------------------------------*/
#navi ul {
	clear:both;
	position:fixed;
	bottom:154px;
}
#navi ul {
}
#navi li {
	border-bottom:2px solid #fff;
}
#navi li.last {
	border-bottom:none;
}
#navi li a {
	/*background:url(../img/common/bg_menu.png) repeat 0 0;*/
	border-left:10px solid #b61000;
	color:#fff;
	display:block;
	font-weight:bold;
	font-size:16px;
	overflow:hidden;
	padding:15px 10px 13px;
	position:relative;
	opacity:0.7;
	filter: alpha(opacity=70);
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;
	width:280px;
}

#navi li a {
    background: #6b6b6b;
    /* Old browsers */
    background: linear-gradient(to right, #b61000 50%, #6b6b6b 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 0.6s ease;
}
#navi li a:hover {
    background-position:left bottom;
	background:#b61000\9;
	/*background:#484848;*/
}

.secondary-container {  height: 100%; display: table; table-layout: fixed; position:fixed; right:0; top:0;
	-webkit-transform: translateZ(0);/* for chrome */
}
.sec-sidebar { width: 10px; background: url(../img/common/bg_transparent02.png) repeat 0 0; vertical-align: top; display: table-cell; position: relative; opacity: 1;}
.sec-nav {width: 300px; height: 100%; margin-right: -295px;}
.sec-nav-inside { position: relative; width: 100%; height: 100%;}



/* ------------------------------------------------------------------
	2-4. Main styles
-------------------------------------------------------------------*/
#main {
	background:#fff;
	box-shadow: 0 0 5px #666;
	-webkit-box-shadow: 0 0 5px #666;
	-moz-box-shadow: 0 0 5px #666;
	-o-box-shadow: 0 0 5px #666;
	float:right;
	width:768px;
	behavior: url(/PIE.htc);
	position:relative;
	z-index:10;
}
#main .section {
	padding:0 15px 20px;
}


/* ------------------------------------------------------------------
	2-5. Side styles
-------------------------------------------------------------------*/
#side {
	background:#fff;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	box-shadow: 0 0 5px #666;
	-webkit-box-shadow: 0 0 5px #666;
	-moz-box-shadow: 0 0 5px #666;
	-o-box-shadow: 0 0 5px #666;
	float:left;
	width:286px;
	behavior: url(/PIE.htc);
	position:relative;
	z-index:10;
}
#side ul li {	
	border-bottom:1px solid #ccc;
}
#side ul li.last {	
	border-bottom:none;
}
#side ul li.last a {
	border-radius:0 0 3px 3px;
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	-o-border-radius:0 0 3px 3px;
	behavior: url(/PIE.htc);
	position:relative;
	z-index:10;
}
#side li a {
	color:#666; 
	background:url(../img/icon/icon_arrow01.png) no-repeat 5px 50%;
	border-left: 5px solid #fff;
	display:block;
	padding:12px 0 10px 20px;
	text-decoration:none;
}
#side li a:hover {
	background-color:#f1f1f1;
	border-left: 5px solid #c1c1c1;
}


/* ------------------------------------------------------------------
	2-6. Footer styles
-------------------------------------------------------------------*/
#footer {
	background:url(../img/common/bg_transparent.png) repeat 0 0;
	clear:both;
	position:fixed;
	left:0;
	bottom:0;
	z-index:9999;
	width:100%;
}
#footerInner {
	padding:18px 20px 16px;
}
.fSection .fNav {
	float:left;
	width:auto;
}
.fSection .fNav li {
	display:inline;
	float:left;
	margin-right:5px;
	width:auto;
}
.fSection .fNav li a {
	background:url(../img/common/bg_menu.png) repeat 0 0;
	border:1px solid #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	behavior: url(/PIE.htc);
	position:relative;
	z-index:10;
	color:#fff;
	display:inline-block;
	font-size:16px;
	font-weight:500;
	padding:32px 10px 8px;
	text-transform:uppercase;
	text-align:center;
	text-decoration:none;
	min-height:38px;
}
.fSection .fNav li.first a {
	padding:10px 10px 8px!important;
	min-height:60px;
}
.fSection .fRight {
	float:right;
	width:200px;
	position:relative;
	z-index:1000;
}
.fSection .fRight .social {
	float:left;
	padding:19px 0 0;
	width:auto;
}
.fSection .fRight .social li {
	display:inline;
	float:left;
	margin-right:5px;
	width:auto;
}
.fSection .fRight #menu {
	float:right;
	width:auto;
}
#copyright {
	background:#333;
	color:#fff;
	padding:10px 0;
	text-align:center;
}

/* ------------------------------------------------------------------
	2-7. Page styles
-------------------------------------------------------------------*/

#main .sectionInner {
	border-bottom:1px dotted #ccc;
	margin-bottom:15px;
	padding-bottom:15px;
}
#main .sectionInner .newsImage {
	float:left;
	width:224px;
}
#main .sectionInner .newsImage img {
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	behavior: url(/PIE.htc);
	position:relative;
	z-index:10;
	padding:1px;
}
#main .sectionInner .newsInfo {
	float:right;
	width:500px;
}
#main .sectionInner .newsTitle a {
	color:#2aa9e0;
	font-weight:bold;
	font-size:15px;
}
#main .productList {
	margin-right:-38px;
	text-align:center;
}
#main .productList li {
	display:inline;
	float:left;
	margin:0 38px 30px 0;
	width:auto;
	position:relative;
}
#main .productList li {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	behavior: url(/PIE.htc);
	position:relative;
	z-index:10;
	overflow:hidden;
}
#main .productList li .des {
	color:#fff;
	display:block;
	position:absolute;
	left:0;
	bottom:0;
	text-align:center;
	text-transform:uppercase;
	width:100%;
}
#main .productList li .des a {
	background:url(../img/common/bg_transparent.png) repeat 0 0;
	padding:10px 5% 8px;
	display:block;
	color:#fff;
	text-decoration:none;
	width:90%;
}
#main .productList li.bl-hover .des a {
	background:#333;
}

#contents .pager {
    padding:0 0 10px;
    text-align:center;
}
#contents .pager ol li {
    display:inline;
}
#contents .pager ol a {
    border:1px solid #d0d3d9;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
	behavior: url(/PIE.htc);
	position:relative;
	z-index:10;
    color:#646567;
    display:inline-block;
    padding:5px 10px 7px;
    text-align:center;
    text-decoration:none;
    z-index:10;
}
#contents .pager ol a:hover {
    border-color:#333;
}
#contents .pager ol a.active {
    background:#333;
    border-color:#333;
    color:#fff;
}