@charset "UTF-8";
/* ****************************************************************** 

	--style.css--

	1. Style setting
		1-1. FontColor styles
		1-2. Headline styles

	2. Layout setting
		2-1. Base styles
		2-2. Header styles
		2-3. Navi styles
		2-4. Main styles
		2-5. Side styles
		2-6. Footer styles

****************************************************************** */

/*==================================================================
	1. Style setting
===================================================================*/

/* ------------------------------------------------------------------
	1-1. FontColor styles
-------------------------------------------------------------------*/
html { color:#333; }
a:link, a:visited { color:#333; text-decoration:none; }
a:hover, a:active {	color:#333; text-decoration:underline; }
html { background-color:#FFF; }
body { background-color:#FFF;}


/* ------------------------------------------------------------------
	1-2. Headline styles
-------------------------------------------------------------------*/
.headline1 {
	background:url(../img/icon/icon_line.png) repeat-x 0 100%;
	border-bottom:2px solid #f00;
	font-size:24px;
	padding:17px 5px 15px 15px;
	text-transform:uppercase;
}
.headline1 img {
	margin-right:10px;
	vertical-align:middle;
}
.headline1 span {
	vertical-align:middle;
	position:relative;
	top:2px;
}
.headline2 {
	font-size:24px;
	padding:15px 5px 12px 15px;
	text-transform:uppercase;
}



/*==================================================================
	2. Layout setting
===================================================================*/

/* ------------------------------------------------------------------
	2-1. Base styles
-------------------------------------------------------------------*/
body {
	background:url(../img/common/blank.gif) repeat-x fixed 0 0!important;
}
html {
	background:#fff url(../img/common/bg_cont.jpg) repeat 0 0;
}
#contents {
	clear:both;
}
#contentsArea {
	background:url(../img/common/bg_cont.jpg) repeat 0 0;
	padding:82px 0 120px;
}


/* ------------------------------------------------------------------
	2-2. Header styles
-------------------------------------------------------------------*/
#header {
	background:url(../img/common/bg_header.png) repeat 0 0;
	position:fixed;
	left:0;
	top:0;
	z-index:9999;
	width:100%;
}
#header #headerInner {
	padding:12px 20px 10px;
}
#logo {
	float:left;
	width:auto;
}
.hNav {
	float:right;
	padding-top:15px;
	width:auto;
}
.hNav li {
	display:inline;
	margin-left:20px;
}

/* ------------------------------------------------------------------
	2-3. Navi styles
-------------------------------------------------------------------*/
#navi ul {
	clear:both;
	position:fixed;
	bottom:119px;
}
#navi li {
	border-bottom:2px solid #fff;
}
#navi li.last {
	border-bottom:none;
}
#navi li a {
	/*background:url(../img/common/bg_menu.png) repeat 0 0;*/
	border-left:10px solid #fe2222;
	color:#fff;
	display:block;
	font-weight:bold;
	font-size:16px;
	overflow:hidden;
	padding:15px 10px 13px;
	position:relative;
	opacity:0.9;
	filter: alpha(opacity=90);
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;
	width:280px;
}
#navi li a {
    background: #6b6b6b;
    /* Old browsers */
    background: linear-gradient(to right, #fe2222 50%, #6b6b6b 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 0.6s ease;
}
#navi li a:hover {
    background-position:left bottom;
	background:#b61000\9;
	/*background:#484848;*/
}
.secondary-container {  height: 100%; display: table; table-layout: fixed; position:fixed; right:0; top:0;
	-webkit-transform: translateZ(0);/* for chrome */
}
*:first-child + html .secondary-container { position:absolute; }
.sec-sidebar { width: 10px; background: url(../img/common/bg_transparent02.png) repeat 0 0; vertical-align: top; display: table-cell; position: relative; opacity: 1;}
.sec-nav {width: 300px; height: 100%; margin-right: -295px;}
.sec-nav-inside { position: relative; width: 100%; height: 100%;}


/* ------------------------------------------------------------------
	2-4. Main styles
-------------------------------------------------------------------*/
#main {
	background:#fff;
	float:left;
	width:760px;
	behavior: url(/PIE.htc);
	position:relative;
	z-index:10;
}
#main .section {
	padding:20px 15px;
}


/* ------------------------------------------------------------------
	2-5. Side styles
-------------------------------------------------------------------*/
#side {
	background:#fff;
	float:left;
	width:286px;
	behavior: url(/PIE.htc);
	position:relative;
	z-index:10;
}
#side ul li {	
	border-bottom:1px solid #ccc;
}
#side ul li.last {	
	border-bottom:none;
}
#side li a { 
	background:#a0a0a0 url(../img/icon/icon_arrow01.png) no-repeat 5px 50%;
	display:block;
	font-size:16px;
	padding:20px 0 18px 20px;
	text-decoration:none;
}
#side li a:hover {
	background-color:#cbcbca;
}


/* ------------------------------------------------------------------
	2-6. Footer styles
-------------------------------------------------------------------*/
#footer {
	background:url(../img/common/bg_footer.png) repeat 0 0;
	clear:both;
	position:fixed;
	left:0;
	bottom:0;
	z-index:9999;
	width:100%;
}
#footerInner {
	padding:12px 20px 10px;
}
.fSection .fNav {
	float:left;
	width:auto;
}
.fSection .fNav li {
	display:inline;
	float:left;
	margin-right:5px;
	width:auto;
}
.fSection .fNav li a {
	background:url(../img/common/bg_menu.png) repeat 0 0;
	border:1px solid #f1f1f1;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	behavior: url(/PIE.htc);
	position:relative;
	z-index:10;
	color:#fff;
	display:inline-block;
	font-size:16px;
	font-weight:500;
	padding:32px 10px 8px;
	text-transform:uppercase;
	text-align:center;
	text-decoration:none;
	min-height:38px;
}
.fSection .fNav li.first a {
	padding:10px 10px 8px!important;
	min-height:60px;
}
.fSection .fRight {
	float:right;
	width:200px;
	position:relative;
	z-index:1000;
}
.fSection .fRight .fButton {
	float:left;
	padding:0 0 0;
	width:auto;
}
.fSection .fRight .social {
	margin-bottom:8px;
}
.fSection .fRight .social li {
	display:inline;
	float:left;
	margin-right:5px;
	width:auto;
}
.language li {
	display:inline;
	margin-right:5px;
}
.fSection .fRight #menu {
	float:right;
	width:auto;
}
#copyright {
	background:#333;
	color:#fff;
	padding:10px 0;
	text-align:center;
}

/* ------------------------------------------------------------------
	2-7. Page styles
-------------------------------------------------------------------*/

.productList {
	margin:10px 0 0 10px;
}
.productList li {
	background:#fff;
	border:6px solid #6d6c66;
	display:inline-block;
	position:relative;
	margin:0 5px 8px 0;
	width:auto;
}
.productList li img {
	max-width:220px;
	max-height:147px;
}
.productList li .des {
	background:#dbdcdb;
	display:block;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	padding:10px 5px 8px;
	text-transform:uppercase;
}
.productList li .des a {
	text-decoration:none;
}
.productList li .cart {
	position:absolute;
	right:0;
	top:0;
}
.productList li .cart a {
	background:#fe2322;
	border-radius:0 0 0 5px;
	-webkit-border-radius:0 0 0 5px;
	-moz-border-radius:0 0 0 5px;
	-o-border-radius:0 0 0 5px;
	behavior: url(/PIE.htc);
	position:relative;
	z-index:10;
	color:#fff;
	display:inline-block;
	padding:3px 6px;
	text-decoration:none;
}
.productList li.bl-hover {
	border:6px solid #f00;
}
.productList li.bl-hover .des,
.productList li.bl-hover .des a {
	background:#333;
	color:#fff;
}
.img-zoom {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
} 
.transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);	
	z-index:11!important;	
}
#contents .pager {
    padding:20px 0 10px;
    text-align:center;
}
#contents .pager ol li {
    display:inline;
}
*:first-child + html #contents .pager ol li {
	position:relative;
}
#contents .pager ol a {
	background:#fff;
    border:1px solid #9a9a9a;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
	behavior: url(/PIE.htc);
	position:relative;
	z-index:10;
    color:#646567;
    display:inline-block;
    padding:5px 10px 7px;
    text-align:center;
    text-decoration:none;
    z-index:10;
}
#contents .pager ol a:hover {
    border-color:#f00;
}
#contents .pager ol a.active {
    background:#9a9a9a;
    border-color:#9a9a9a;
    color:#fff;
}